@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
  font-family: 'Poppins', sans-serif; 
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  min-height: 100vh;  
  width: 100%;
}
:root{
  --main: #b92ab9;
}
.wrapper{
  color: #fff;
  min-height: 100vh;
  background-color: purple;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-scrollbar: none;
  background: url("./img/bg.jpeg");
}
section{
  height: 100vh;
  scroll-snap-align: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 4%;
}
.btn{
  padding: 8px 15px;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: purple;
  color: #fff;
}
.btn:hover{
  scale: 1.01;
}
.btn:active{
  scale: 1.02;
}

.heading{
  font-size: 55px;
  letter-spacing: 2px;
  line-height: 65px;
  margin-bottom: 15px;
}
.subheading{
  color: var(--main);
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  position: relative;
}
.subheading:before{
  content: "";
  width: 23px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: -4.5%;
  transform: translateY(-50%);
  
}
.para{
  margin: 10px 0 20px 0;
  max-width: 70%;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  height: 70vh;
  min-height: 100%;
}
.col1{
  flex: 1 1 450px;
  position: relative;
}
.col2{
  flex: 1 1 450px;
  position: relative;
}

/* Navbar Section Starts */
.header{
  display: flex;
  justify-content: center;
}
.navbar{
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.navbar .left{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  width: 60px;
  user-select: none !important;
}
.nav-list{
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.nav-list-item{
  cursor: pointer;
}
.nav-list-item:hover{
  color: var(--main);
}
.navbar .right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.navbar .right .searchIcon{
  width: 20px;
  cursor: pointer;
}

/* Hero Section Starts */


.hero-image{
  width: 70%;
  object-fit: cover;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: animateHeroImg 1.5s infinite ease alternate;
}
@keyframes animateHeroImg{
  to{
    transform: translateY(25px);
  }
}

/* Work Section Starts */
.work-list-item{
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
  position: relative;
}
.work-list-item:hover{
  -webkit-text-stroke: 0px;
  color: var(--main);
}


/* Form Section Starts */
.form-title{
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.form{
  max-width: 450px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-field{
  padding: 8px 10px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
}
.form-btn{
  display: block;
  width: 100%;
}
textarea{
  resize: none;
}

.cube{
  height: 100%;
  width: 100%;
}